<h3>Custom issuers (anchors)</h3>
<hr/>
<div id="customAnchorsList" class="valueList">
    <div *ngFor="let issuer of this.customAnchors" id="{{issuer.address}}" class="customItemRow"
         [class.highlight]="issuer.address == this.lastAddedAddress" [class.duplicate]="issuer.address == this.duplicateAddress">
        <div class="itemTitle">{{issuer.domain}} - {{issuer.address}}</div>
        <span (click)="removeCustomAnchor(issuer.address)">remove</span>
    </div>
</div>

<form (ngSubmit)="addAnchor(anchorForm)" #anchorForm="ngForm">
    <label for="newAnchorAddress">Issuer address:</label>
    <input type="text" id="newAnchorAddress" placeholder="GASJBQBTC4C5J7X..." maxlength="56"
           ngModel #newAnchorAddress="ngModel" name="newAnchorAddress" pattern="^[gG][a-zA-Z0-9]{55}$"/>
    <br/>
    <div *ngIf="newAnchorAddress.errors?.pattern" class="dataHint">56 characters starting with G. Only letters and digits.</div>

    <label for="newAnchorName">Issuer domain:</label>
    <input type="text" id="newAnchorName" placeholder="example.com" ngModel #newAnchorName="ngModel" name="newAnchorName"/>
    <button type="submit" id="addAnchorBtn" [disabled]="!anchorForm.form.valid">Add</button>
</form>
