.duration-header {
    border-left: 1px solid #AAAAAA;
}

div.trade-stream {
    height: calc(100vh - 165px);
    overflow-y: auto;
}
#trade-stream-divider {
    height: 28px;
    border-bottom: 1px solid #AAAAAA;
}

.trade-item {
    border-bottom: 1px solid #f6f6f6;
    background-color: white;
}
.trade-item.odd {
    background-color: #f6f6f6;
}

a.inline-link {
    font-size: .92rem;
}

@keyframes animateGreen {
    from { background-color: #46B446; }
    to { background-color: inherit; }
}
:host ::ng-deep .highlight {
    animation: animateGreen 1s linear 1;
}

div.assets-stats-panel {
    height: calc(100vh - 165px);
    border-left: 1px solid #AAAAAA;
    overflow-y: auto;
}

#assetStatisticsTable td {
    padding-right: 10px;
}
#assetStatisticsTable th {
    padding: 5px;
    border-bottom: 1px solid #AAAAAA;
}

#assetStatisticsTable tr:nth-child(even) {
    background-color: white;
}

#assetStatisticsTable img.asset-icon {
    width: 32px;
    height: 32px;
}
