.duration-header {
    border-left: 1px solid #AAAAAA;
}

div.trade-stream {
    height: calc(100vh - 165px);
    overflow-y: auto;
}
#trade-stream-divider {
    height: 28px;
    border-bottom: 1px solid #AAAAAA;
}

.trade-item {
    border-bottom: 1px solid #f6f6f6;
    background-color: white;
}
.trade-item.odd {
    background-color: #f6f6f6;
}

a.inline-link {
    font-size: .92rem;
}

@keyframes animateGreen {
    from { background-color: #46B446; }
    to { background-color: inherit; }
}
:host ::ng-deep .highlight {
    animation: animateGreen 1s linear 1;
}

div.assets-stats-panel {
    height: calc(100vh - 165px);
    border-left: 1px solid #AAAAAA;
    overflow-y: auto;
}

#assetStatisticsTable td {
    padding-right: 10px;
}
#assetStatisticsTable th {
    padding: 5px;
    border-bottom: 1px solid #AAAAAA;
}

#assetStatisticsTable tr:nth-child(even) {
    background-color: white;
}

#assetStatisticsTable img.asset-icon {
    width: 32px;
    height: 32px;
}

#assetStatisticsTable a.blacklist-link {
    font-size: 1.2rem;
}

.filter-panel {
    border-top: 1px solid #AAAAAA;
    padding: 2px;
}

form {
    margin-bottom: 6px;
}

input[type=text] {
    height: 22px;
    margin-right: 5px;
    border: 1px solid black;
    color: black;
}

button.add-filter-button {
    height: 22px;
    background-color: #ED8117;
}

div#currencyBlackList {
    border-top: 1px solid #AAAAAA;
}

.chip {
    display: inline-block;
    padding: 2px;
    margin: 1px;
    border-radius: 7px;
}

.orange-border {
    border: 1px solid #ED8117;
}

.gray-border {
    border: 1px solid #5B6A72; 
}

.remove-icon {
    font-weight: bolder;
}