<div class="live-trades-wrapper">
    <div class="trade-stream col-lg-6 col-md-6 col-sm-12">
        <ul>
            <li *ngFor="let item of trades" class="highlight">
                {{item.actionName }}
                <a class="link inline-link" href="{{item.linkHref}}" target="exchTab">{{item.linkText}}</a>
                {{item.note}}
            </li>
        </ul>
    </div>
    <div class="assets-stats-panel col-lg-6 col-md-6 col-sm-12">
        <h4>Currencies traded in past {{duration}}:</h4>

        <table id="assetStatisticsTable" matSort (matSortChange)="sortStatistics($event)">
            <tr>
              <th>&nbsp;</th>
              <th mat-sort-header="asset">Currency</th>
              <th mat-sort-header="trades">Trades</th>
              <th mat-sort-header="volume">Volume</th>
            </tr>
          
            <tr *ngFor="let stat of sortedStatistics">
              <td><img class="asset-icon" src="{{stat.assetIcon}}" title="{{stat.assetCode}}"/></td>
              <td>{{stat.assetTitle}}</td>
              <td>{{stat.numTrades}}</td>
              <td>
                  {{Utils.formatAmount(stat.volume)}} {{stat.assetCode}}
                  <span *ngIf="stat.volumeInNative > 0">(~{{Utils.formatAmount(stat.volumeInNative)}} XLM)</span>
              </td>
            </tr>
        </table>
    </div>
</div>