<div class="live-trades-wrapper">
    <div class="trade-stream col-lg-6 col-md-6 col-sm-12">
        <ul>
            <li *ngFor="let item of trades" class="highlight">
                {{item.actionName }}
                <a class="link inline-link" href="{{item.linkHref}}" target="exchTab">{{item.linkText}}</a>
                {{item.note}}
            </li>
        </ul>
    </div>
    <div class="assets-stats-panel col-lg-6 col-md-6 col-sm-12">
        <h4>Assets traded in past {{duration}}:</h4>
        <div *ngFor="let stat of stats | keyvalue" class="asset-stat">
            <div class="asset-icon-wrapper">
                <img class="asset-icon" src="{{stat.value.assetIcon}}"/>
            </div>
            <div class="asset-stat-data">
                <span class="asset-title">{{stat.value.assetTitle}}</span><br/>
                Trades: {{stat.value.numTrades}}; volume: {{Utils.formatAmount(stat.value.volume)}} {{stat.value.assetCode}}
                <span *ngIf="stat.value.volumeInNative > 0">(~ {{Utils.formatAmount(stat.value.volumeInNative)}} XLM)</span>
            </div>
        </div>
    </div>
</div>