:host ::ng-deep div#baseAssetCodeDd-dd-placeholder,
:host ::ng-deep div#counterAssetCodeDd-dd-placeholder {
    float: left;
}
:host ::ng-deep div#baseIssuerDd-dd-placeholder,
:host ::ng-deep div#counterIssuerDd-dd-placeholder {
    float: left;
    margin-left:4px;
}

:host ::ng-deep th {
    padding-left: 4px;
}

:host ::ng-deep thead> tr {
    border-bottom: 1px solid #5B6A72;
}

/*mm-TODO: DELETE*/
.dropdownsWrapper {
    width:410px;
    height: 45px;
    float: left;
}

.dropdownsWrapper2 {
    width:355px;
    height: 45px;
    float: left;
}

#swapAssetsLink {
    cursor: pointer;
}

div.chartButton {
    float: left;
    font-size: 2em;
    /*Lots of hard-code here :-( */
    line-height: 38px;
}

div.swapButton {
    margin-right: 5px;
    width: 40px;
    font-weight: bold;
    text-align: center;
}
div.swapButton>a {
    color: #355572;
    text-decoration: none;
}

div.intervalButtons {
    font-size: 1.1em;
    width: 220px;
    padding-left: 8px;
}

div.chartWarning {
    position: absolute;
    top: 300px;
    width: 100%;
    line-height: 70px;
    font-size: 25px;
    text-align: center;
}

/** Material drop-downs */
mat-form-field {
    border: 1px solid #ccc;
}

.mat-option {
    border-bottom: 1px solid #ddd;
    font-size: .92rem !important;
    font-family: consolas,"Liberation Mono",courier,monospace;
}


/*mm-TODO: DELETE */
.selectedAssetCode {
    height: 38px;
    width: 140px;
    line-height: 38px;
    background-position: 4px 50%;
    background-repeat: no-repeat;
    background-size: 32px 32px;
}
.selectedIssuerOption {
    height: 38px;
    line-height: 38px;
    padding-left: 5px;
}



.selectedAsset {
    height: 38px;
 /*   width: 140px;  */
    line-height: 38px;
    padding-left: 40px;
    background-position: 4px 50%;
    background-repeat: no-repeat;
    background-size: 32px 32px;
}
