<div class="row">
  <div class="col-lg-2 col-md-12 col-sm-12">
      <!--TODO: maybe some content here? -->
      DEBUG: {{chartInterval}}; {{debug}}
  </div>
  <div class="col-lg-10 col-md-12 col-sm-12">
      <div style="width:450px; float: left;">
          <div id="baseAssetCodeDd">Asset code drop-down here</div>
          <div id="baseIssuerDd">Anchor drop-down here</div>
          <div class="chartButton swapButton">
              <a id="swapAssetsLink" (click)="swapAssets()" title="Switch assets">&hArr;</a>
          </div>
      </div>

      <div style="width: 425px; float: left;">
          <div id="counterAssetCodeDd">Asset code drop-down here</div>
          <div id="counterIssuerDd">Anchor drop-down here</div>
      </div>
      <div class="chartButton intervalButtons">
        <!-- TODO: rework these to standard GET links if possible. JS should not be necessary. -->
        <a class="link" [class.selected]="chartInterval === 900000" (click)="setChartInterval('15min');">15min</a>&nbsp;
        <a class="link" [class.selected]="chartInterval === 3600000" (click)="setChartInterval('1hour');">hour</a>&nbsp;
        <a class="link" [class.selected]="chartInterval === 86400000" (click)="setChartInterval('1day');">day</a>&nbsp;
        <a class="link" [class.selected]="chartInterval === 604800000" (click)="setChartInterval('1week');">week</a>
      </div>
  </div>

</div>

<div class="row">
  <div class="col-lg-2 col-md-12 col-sm-12">
      <br/><br/>
      <table>
          <thead>
              <th>Price</th>
              <th>Amount <span class="baseAssetCode"></span></th>
          </thead>
          <tbody id="orderBookAsks">
              <tr></tr>
              <tr><td>Loading data...</td></tr>
          </tbody>
      </table>
      <div id="currentPrice">
          <span>{{lastPrice}}</span>
      </div>
      <table>
          <tbody id="orderBookBids">
              <tr></tr>
              <tr><td>Loading data...</td></tr>
          </tbody>
      </table>
  </div>
  <div class="col-lg-7 col-md-8 col-sm-8" id="candleChartPanel" style="height: 800px;">
      <div id="marketChart" style="min-height: 500px; height: 100%;"
           [ngClass]="{
                'chartWarning': dataStatus === DataStatus.NoData,
                'error': dataStatus === DataStatus.Error
           }">
          <br/><br/>{{chartMessage}}
      </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-4">
      <br/>
      <app-trade-history [exchange]="exchange" [recentTrades]="tradeHistory"></app-trade-history>
  </div>
</div>
