:host ::ng-deep div#baseAssetCodeDd-dd-placeholder,
:host ::ng-deep div#counterAssetCodeDd-dd-placeholder {
    float: left;
}
:host ::ng-deep div#baseIssuerDd-dd-placeholder,
:host ::ng-deep div#counterIssuerDd-dd-placeholder {
    float: left;
    margin-left:4px;
}

:host ::ng-deep th {
    padding-left: 4px;
}

:host ::ng-deep thead> tr {
    border-bottom: 1px solid #5B6A72;
}

.dropdownsWrapper {
    width:450px;
    height: 45px;
    float: left;
}

#swapAssetsLink {
    cursor: pointer;
}

div.chartButton {
    float: left;
    font-size: 2em;
    /*Lots of hard-code here :-( */
    line-height: 38px;
}

div.swapButton {
    font-weight: bold;
    width: 45px;
    text-align: center;
}
div.swapButton>a {
    color: #355572;
    text-decoration: none;
}

div.intervalButtons {
    font-size: 1.1em;
    width: 220px;
    padding-left: 8px;
}

div.chartWarning {
    position: absolute;
    top: 300px;
    width: 100%;
    line-height: 70px;
    font-size: 25px;
    text-align: center;
}




/** Experimental at the moment */
mat-form-field {
    margin-right: 5px;
    margin-bottom: 5px;
    height: 40px;
    background-color: white;
    border: 1px solid #ccc;
}
.mat-select {
    font-family: consolas,"Liberation Mono",courier,monospace;
    font-weight: bolder;
}

.mat-option {
    border-bottom: 1px solid #ddd;
    font-size: .92rem !important;
    font-family: consolas,"Liberation Mono",courier,monospace;
}

:host ::ng-deep label.mat-form-field-label {
    margin-top: 5px;
    font-family: consolas,"Liberation Mono",courier,monospace;
    font-style: italic;
    padding-left: 5px;
}
:host ::ng-deep label.mat-form-field-label:not(.mat-empty) {
    display: none;
}


.ddOption {
    height: 40px;
    padding: 3px;
}
.ddOption:hover {
    font-weight: bolder;
    background-color: #FDFDFD;
}
.selectedAssetCode {
    height: 38px;
    width: 140px;
    line-height: 38px;
    background-position: 4px 50%;
    background-repeat: no-repeat;
    background-size: 32px 32px;
}
.selectedIssuerOption {
    height: 38px;
    line-height: 38px;
    padding-left: 5px;
}