<div id="customExchange{{exchange.id}}" class="col-xl-3 col-lg-4 col-md-6 col-sm-12 customExchange" [class.dropTarget]="highlightDropTarget"
     (click)="onClick($event)">
    <div [ngStyle]="{ 'display' : this.isDragged ? 'block' : 'none' }" class="draggedExchOverlay"></div>
    <div onmouseover="$(this).find('div.hoverButton').show();" (mouseover)="onMouseOver()"
         onmouseout="$(this).find('div.hoverButton').hide();" (mouseout)="highlightDropTarget = false;">
        <div class="assetsSelection" onclick="return false;">
            <div class="hoverButton moveExchButton" (click)="startDrag($event)" title="Drag and drop to relocate this exchange (TODO!)">&#10542;</div>
            <div class="hoverButton removeExchButton" (click)="removeExchange()" title="Remove this exchange from the list">X</div>
            <div class="assetDropDowns">
                <mat-form-field style="width: 50%;">
                    <mat-select [(value)]="selectedBaseAsset" class="selectedAssetOption"
                                (selectionChange)="updateExchange($event)" [title]="selectedBaseAsset.tooltip">
                        <mat-option class="ddOption" *ngFor="let asset of assetOptions" [value]="asset" title="{{asset.tooltip}}">
                            <img src="{{asset.imageUrl}}" style="width: 24px; height: 24px;" /> {{asset.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field style="width: 50%;">
                    <mat-select [(value)]="selectedCounterAsset" class="selectedAssetOption"
                                (selectionChange)="updateExchange($event)" [title]="selectedCounterAsset.tooltip">
                        <mat-option class="ddOption" *ngFor="let asset of assetOptions" [value]="asset" title="{{asset.tooltip}}">
                            <img src="{{asset.imageUrl}}" style="width: 24px; height: 24px;" /> {{asset.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div id="customExchangeChart{{exchange.id}}" class="exchange-link-chart">
            <app-exchange-thumbnail [exchange]="exchange" [showAssetNames]="false"></app-exchange-thumbnail>
        </div>
    </div>
</div>
