.customExchange {
    margin-top: 24px;
}

.removeExchButton {
    display: none;
    position: absolute;
    top: -15px;
    right: -15px;
    z-index: 1;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    color: white;
    background-color: #ff6666;
    font-size: 1.8em;
    cursor: pointer;
}

div.assetsSelection {
    position: relative;
}
div.assetsSelection > div.assetDropDowns {
    display: flex;
    flex-direction: row;
}

/** Material drop-downs */
.selectedAssetCode {
    width: 92px;
    padding-left: 5px;
}

mat-form-field {
    margin: 0;
    border: 1px solid #ccc;
}

.mat-option {
    border-bottom: 1px solid #ddd;
    font-size: .92rem !important;
    font-family: consolas,"Liberation Mono",courier,monospace;
}
