<button onclick="dumpCookie();">Show cookies</button>
<button onclick="eraseCookies();">Clear cookies</button>
<br/>
<div id="debug" style="width: 800px; height: 200px; border: 1px solid green;">Hello World</div>
<h5>Manage custom assets to be used on the Exchanges.</h5>
<div class="row paddedRow">
    <div class="col-lg-4 col-md-4 col-sm-12">
        <app-custom-asset-codes></app-custom-asset-codes>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12">
        <app-custom-issuers></app-custom-issuers>
    </div>
</div>
<div class="row paddedRow" style="margin-bottom: 60px;">
    <div class="col-lg-9 col-md-10 col-sm-12">
        <app-custom-assets></app-custom-assets>
    </div>
</div>
