#tools_nav_wrap:hover > ul
{
	display:block
}

#tools_nav_wrap > ul
{
	list-style:none;
    display:none;
	position: absolute;
	top: 50px;  /*50px is height of the top menu bar*/
    right:0;
    z-index: 1;
    margin-right:30px;
    background-color: rgb(246, 246, 246);
    border: 1px solid #8396a0;
    padding: 0;
}
#tools_nav_wrap > ul a
{
	display:block;
	text-decoration:none;
	font-size:1em;
	line-height:32px;
    padding:0 15px;
    float:right;
}
#tools_nav_wrap > ul li
{
	float:none;
}

a.top-menu-link {
    float: right;    
    padding-left: 15px;
}

footer#footer {
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 100%;
}

footer#footer > div {
    font-size: .75em;
    color: #AAAAAA;
    text-align: center;
}

@font-face {
    font-family: "Truly Madly Dpad";
    src: url('../assets/fonts/Truly_Madly_Dpad.otf');
}

:host ::ng-deep a.link {
    font-family: "Truly Madly Dpad";
    font-size: 1.4em;
    cursor: pointer;
    text-decoration: none;
    color:#355572;
}
:host ::ng-deep a.link:hover, :host ::ng-deep a.link:focus {
    color: #4d81b0;
}
:host ::ng-deep a.link.selected {
    font-weight: bold;
    color: #4d81b0;
}

a#logo {
    background-image: url('../assets/images/my-lame-logo.png');
    background-repeat: no-repeat;
    background-size: 50px 50px;
    display: inline-block;
    height: 50px;
    padding-left: 58px;
}
a#logo > div.homeLink {
    font-size: 2em;
    margin-bottom: -12px;
}

div.headerLinks {
    line-height: 50px;
    padding-right: 40px;
}

:host ::ng-deep button.nebularBtn {
    border: none;
    border-radius: 3px;
    height: 28px;
    min-width: 50px;
    background-color: #23527c;
    color: white;
}
:host ::ng-deep button.nebularBtn:focus, button.nebularBtn:hover {
    background-color: #4d81b0;
    font-weight: bold;
}
:host ::ng-deep button.nebularBtn:disabled {
    color: gray;
}

:host ::ng-deep #draggedExchangeClone {
    margin: 0;
    padding: 0;
}
