<div class="exchange-link" (click)="onClick();">
  <div class="assetsDescription">
      <div class="lastPrice">0.00</div>
      <div class="baseAssetDesc">
          <span class="baseAssetCode">{{exchange.baseAsset.code}}</span><br/>
          <span class="baseAssetIssuer">{{exchange.baseAsset.issuer.domain}}</span>
      </div>
      <span class="slash">/</span>
      <div class="counterAssetDesc">
          <span class="counterAssetCode">{{exchange.counterAsset.code}}</span><br/>
          <span class="counterAssetIssuer">{{exchange.counterAsset.issuer.domain}}</span>
      </div>
      <div class="dailyChangePercent green">+0.00%</div>
  </div>
  <div id="{{placeHolderId}}" class="exchange-link-chart">
      <div [ngClass]="{
          'chartWarning': dataStatus === DataStatus.NoData,
          'error': dataStatus === DataStatus.Error
        }">{{userMessage}}</div>
  </div>
</div>
