#customAssetsTable {
    width: 100%;
}
#customAssetsTable tr:nth-child(even) {
    background-color: white;
}
#customAssetsTable tr.asset-item:hover {
    background-color: #e0e0e0;
}

img.asset-icon {
    width: 24px;
    height: 24px;
}

button.removeButton {
    background-color: #ED8117;
}
