@import "./assets/styles/3rdParty/bootstrap.css";
@import "./assets/styles/3rdParty/bootstrap-theme.css";


html {
    height: 100%;
}

body {
    /* The only way to make the #footer work as expected */
    min-height: 100%;
    padding-bottom: 30px;
}

html, body {
    position: relative;
    background-color: rgb(246, 246, 246);
    font-family: consolas,"Liberation Mono",courier,monospace;
    font-size: .92rem;
    color: #5B6A72;
}

/* For pages Overview and My Exchanges */
div.exchanges-frame {
    padding-left:40px;
    padding-right:40px;
}

div.chartWarning {
    height: 300px;
    line-height: 300px;
    background-color: white;
    text-align: center;
    font-size: 25px;
}
/**************************************/
